<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ExitTimeOut</key>
	<integer>60</integer>
	<key>Label</key>
	<string>com.gmail.kouheiszk.kintaiNotifier</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/kouhei/.anyenv/envs/rbenv/shims/bundle</string>
		<string>exec</string>
		<string>ruby</string>
		<string>notifier.rb</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/Users/kouhei/workspace/src/github.com/kouheiszk/kintai-notifier/logs/stderr.log</string>
	<key>StandardOutPath</key>
	<string>/Users/kouhei/workspace/src/github.com/kouheiszk/kintai-notifier/logs/stdout.log</string>
	<key>StartInterval</key>
	<integer>60</integer>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/kouhei/workspace/src/github.com/kouheiszk/kintai-notifier</string>
</dict>
</plist>